div {
	width: 150px;
	height:150px;
	position: absolute;
	
}
.box2{
	width: 60px;
	height:60px;
	top: 60px;
	left:130px;
	border-radius: 0 50px 50px 0;
	background-color: rgb(0, 0, 0);
}
.box3{
	width: 80px;
	height: 80px;
	top: 160PX;
	left:130PX;
	border-radius: 0 32px 0 0;
	background-color: black;
}
.box4{
	top:40px;
	left:250px;
	width: 0;
	height:0;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-bottom: 200px solid rgb(0, 0, 0);

}
.box5{
	width:100px;
	height: 25px;
	top: 125px;
	left: 255px;
	background-color: white;
}
.box6{
	top:40px;
	left:395px;
	width: 100px;
	height:200px;
	background-color: black;
	

}
.box7{
	width: 25px;
	height: 225px;
	top: 25px;
	left : 435px;
	background-color: white;
	transform: rotate(-25deg);

}

.box9{
	width: 200px;
	height: 200px;
	top: 40px;
	left: 530px;
	border-radius: 50%;
	background-color: rgb(0, 0, 0);
}
.box10{
	width:125px;
	height: 25px;
	top: 125px;
	left: 660px;
	background-color: white;
}
.box11{  width:100px;
	height: 50px;
	top: 155px;
	left: 790px;
	background-color: black;
 }
.box12{width:100px;
	height: 50px;
	top: 75px;
	left: 790px;
	background-color: black;
}
.box13{ 	width: 85px;
	height:70px;
	top: 45px;
	left:940px;
	border-radius: 50px 0px 0px 50px;
	background-color: rgb(0, 0, 0);
 }
 .box14{
 		width: 85px;
	height:70px;
	top: 150px;
	left:945px;
	border-radius: 0 50px 50px 0;
	background-color: rgb(0, 0, 0);
 }
 .text{ font-family: "Helvetica"
  left: 150px;
 top: 250px;
 width: 550px
 }