img.resize1 {
	position: absolute;
  max-width:50%;
  max-height:50%
  z-index: 100%;
  top: 10%;
  left: 25%;
  margin: -100px 0 0 -100px;;
}
img.resize2 {
	position: absolute;
  max-width:50%;
  max-height:50%
  z-index: 100%;
  top: 60%;
  left: 25%;
  margin: -100px 0 0 -100px;;
}
img.resize3 {
	position: absolute;
  max-width:50%;
  max-height:50%
  z-index: 100%;
  top: 75%;
  left: 25%;
  margin: -100px 0 0 -100px;;
}
img.resize4 {
	position: absolute;
  max-width:55%;
  max-height:55%
  z-index: 100%;
  top: 120%;
  left: 25%;
  margin: -100px 0 0 -100px;
  -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
img.resize5 {
	position: absolute;
  max-width:55%;
  max-height:55%
  z-index: 100%;
  top: 137%;
  left: 25%;
  margin: -100px 0 0 -100px;
  -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
.shoe{
	font-family: 'Black Ops One', cursive;
  text-decoration: none;
  ;
}
.rightblock{
  position: absolute;
  top: 49px;
  left: 1000px;
  width: 200px;
  font-family: 'Permanent Marker', cursive;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  text-align: left;
  height: 50%;
  overflow: scroll;
}
a{ text-decoration: none }